<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Primera página en Python</title>
</head>
<body>
	<h1>Primera página en Python</h1>
	<h2>¡Muy bien!</h2>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit blanditiis quibusdam, itaque deleniti possimus ipsum repellat sequi et quis ullam quia maiores labore at voluptatum dolorum nemo quisquam esse quos!</p><hr>
<div>
	<h4>
		<a href="https://djangogirls.org">Hipervínculos a Django Girls</a>
	</h4>
	<hr>
	<ul>
		<li>Elemento número 1</li>
		<li>Elemento número 2</li>
		<li>Elemento número 3</li>
		<li>Elemento número 4</li>
	</ul>
</div>

<h2>Mi primer post</h2>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam cumque veniam aliquid tempora culpa praesentium nulla ducimus sequi aut, ea quibusdam est iusto, at similique atque dolore suscipit odit esse!</p>
<p>Publicado:</p>

</body>
</html>